.sign-up ,.Login{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color:blueviolet;
}
.sign-up h1, .Login h1{
    text-align: center;
}
.auth-toggle-link{
    margin-top:8px;
    color:blueviolet;
    font-size: 14px;
    text-align: left;
    cursor:pointer ;
    margin-left: 20px;
}
